<header class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
        
        <div class="flex items-center gap-8">
            <a class="block text-teal-600 dark:text-teal-600" href="/">
            <span class="sr-only">Home</span>
            <svg width="300" height="60" viewBox="0 0 300 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="300" height="60" fill="transparent" />
                <text x="10" y="40" font-family="Arial, sans-serif" font-size="36" fill="white">
                Ask<tspan fill="#6FCF97">My</tspan>Doc
                </text>
            </svg>
            </a>

            <nav aria-label="Global" class="hidden md:block">
            <ul class="flex gap-6 text-sm">
                <li>
                    <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-medicalGreen" href="/">
                        About
                    </a>
                </li>
                <li>
                    <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-medicalGreen" href="/upload/">
                        Tool
                    </a>
                </li>
                    <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-medicalGreen" href="/documents/">
                        Documents
                    </a>
                </li>
                <li>
                    <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-medicalGreen" href="#">
                        Contact
                    </a>
                </li>
            </ul>
            </nav>
        </div>

        <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
            <a class="rounded-md bg-medicalGreen px-5 py-2.5 text-sm font-medium text-white shadow-sm dark:hover:bg-medicalGreenDark" href="#">
                Login
            </a>
            </div>
            <div class="hidden sm:flex">
            <a class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 dark:bg-gray-800 dark:text-white dark:hover:text-white/75" href="#">
                Register
            </a>
            </div>
        </div>

        </div>
    </div>
</header>