<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AskMyDoc{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet" />
    </head>

    <body class="bg-gray-100 text-gray-800">

        {% include "components/header.html" %}
        
        <main class="min-h-screen">
            {% block content %}{% endblock %}
        </main>

        {% include "components/footer.html" %}
                
    </body>
</html>

