{% extends "base.html" %}

{% block content %}
    <section class="bg-white lg:grid lg:h-screen lg:place-content-center">
        <div class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
            <div class="mx-auto max-w-prose text-center">
                <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
                    Ask<strong class="text-medicalGreen">My</strong>Doc helps you quickly
                    <strong class="text-medicalGreen">understand</strong>
                    documents
                </h1>

                <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
                    AskMyDoc processes your medical documents and delivers intelligent, easy-to-understand answers. No jargon. No confusion. Just clarity.
                </p>

                <div class="mt-4 flex justify-center gap-4 sm:mt-6">
                    <a class="inline-block rounded border border-medicalGreen bg-medicalGreen px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-medicalGreenDark"
                    href="/upload">
                        Get Started
                    </a>
                    <a class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
                    href="#">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
